@using System.Linq
@using System
@using LINE.SMA.Generator.DBSchema
@using RazorEngine.Text
@{
    GeneratorConfig config = (GeneratorConfig)Model;
    Table table = config.table;
    string classnameVal = ViewBag.classnameVal;
    string namespaceVal = config.modelNamespaceVal;
}
using System;
using System.Text;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations.Schema;
using LINE.SMA.Infrastructure;

namespace @namespaceVal
{
    [Table("@table.TableName")]
    public class @table.ClassName : EntityBase
    {
    @foreach (Column item in table.Columns)
    {
        if (table.BaseColumns.Contains(item.COLUMN_NAME.ToLower()))
        {
            continue;
        }
        <h1>
        /// <summary>
        /// @item.COLUMN_COMMENT
        /// </summary>
        public @item.NET_DATA_TYPE @item.ToUpperColumn { get; set; }

        </h1>
    }
    }
}


